.title{
    text-align: center;
    position: relative;
    top: 0;
    background-color: white;
    margin-bottom: 50px;
    padding: 5px;
    line-height: 1.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-width: 10px;
    border-style: double;
    border-color: blue;
    font-size: 150%;

}
body{
    background: rgb(228, 226, 226);

}

.box1 img{
    width: 100%;
    height: 425px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.box2 img{
    width: 100%;
    height: 425px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.box3 img{
    width: 100%;
    height: 425px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.box4 img{
    width: 100%;
    height: 425px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header1{
    display: flex;
}
.header2{
    display: flex;
}
.header3{
    display: flex;
}
.header4{
    display: flex;
}

.footer1 p{
    margin: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer2 p{
    margin: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer3 p{
    margin: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer4 p{
    margin: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header1 p{
    margin-left: auto;
    color: grey;
    padding-right: 5px;
}
.header2 p{
    margin-left: auto;
    color: grey;
    padding-right: 5px;
}
.header3 p{
    margin-left:auto;
    color: grey;
    padding-right: 5px;
}
.header4 p{
    margin-left: auto;
    color: grey;
    padding-right: 5px;
}

.header1 h3{
    padding-left: 5px;
}
.header2 h3{
    padding-left: 5px;
}
.header3 h3{
    padding-left: 5px;
}
.header4 h3{
    padding-left: 5px;
}

.box1{
    width: 650px;
    height: 550px;
    background: white;
    margin: auto;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    margin-bottom: 100px;
}
.box2{
    width: 650px;
    height: 550px;
    background: white;
    margin: auto;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    margin-bottom: 100px;
}

.box3{
    width: 650px;
    height: 550px;
    background: white;
    margin: auto;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    margin-bottom: 100px;
}

.box4{
    width: 650px;
    height: 550px;
    background: white;
    margin: auto;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    margin-bottom: 100px;
}
.fa-solid{
    color: blue;
    margin-top: 22px;
    margin-left: 8px;
}